@font-face {
  font-family: "qwqw";
  font-display: swap;
  src: url("../fonts/qwqw.woff") format("woff"), url("../fonts/qwqw.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "qwqww";
  font-display: swap;
  src: url("../fonts/qwqww.woff") format("woff"), url("../fonts/qwqww.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rrrrtt";
  font-display: swap;
  src: url("../fonts/rrrrtt.woff") format("woff"), url("../fonts/rrrrtt.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}